
body {
    background-color:white;
    font-family : Tohoma, Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin:0;
     padding:0;  }

.container { 
    width :940px;
    margin : 0 auto;
    box-sizing: border-box;   }

header{
    padding-top : 20px;
   background-color : #617140;
    color :white; }

header h1 {
    margin : 0;
    padding :0;
    font-weight : normal;
}

h1{
    font-size : 120%;
    font-weight : normal ;  /*    (900 is highest)*/
    font-style: italic;
    letter-spacing : 5px;
    word-spacing: 5px;
    text-shadow : 2px 10px 10px rgba(0, 0, 0, 0.13);
    text-transform: uppercase;
    text-align : justify;
    text-indent : 25px;
    line-height: 1.5;
}



/*navigation start*/
.site-nav { 
    margin-top : 20px; }

.site-nav ul {
  margin :0;
  padding :0;
  position:relative;
  left :-3px ;
}

.site-nav li {
    list-style: none;
   margin-left : 5px;
    float: left; 
  
}

.site-nav a { 
    display : block;
     text-decoration: none;
     color: rgb(145, 206, 145);
     padding : 10px 30px;
     border : 3px solid rgb(145, 206, 145);
     border-bottom :none;
     box-sizing: border-box; }

.site-nav a:hover {
    background-color: rgb(200, 243, 174); }
/*navigation end*/






.content-area {
    background-color: #fff;
    border-top : 3px solid rgb(145, 206, 145);
    border-bottom : 3px solid rgb(145, 206, 145);
}

.main-area {
    width : 66%;
    float :left;
    box-sizing: border-box;
    padding-right : 40px;
 }

.sidebar {
    width : 34%;
    float : left;
   background-color: rgb(193, 230, 193);
    box-sizing: border-box;
    padding : 0 10px;
    font-size: 85%; }
    

@media screen and (max-width: 630px) {
    .main-area,
    .sidebar {
        width: auto;
        float : none;     }

    .container {
        width : auto;
         padding-left :20px;
        padding-right :20px;     }

    .site-nav {
        width : 70%
    }
    .site-nav li{
        padding : 1px;
       margin-right: 0; }    
    
   .site-nav a { 
       padding : 8px 20px;  }
}


.group ::after {
    content:"";
    clear:both;
    display:table; 
}


footer {
    text-align : center;
    font-size: 85%;
    color: #999;
    padding-bottom : 10px;
    padding-top : 10px;
}